#add-form{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    width: 100%;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

#add-form input, select, textarea{
    font-size: 30px;
}

#no-year_container{
    padding: 10px;
    margin: 5px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

#no-year{
    transform: scale(3);
}